# choose st-link/j-link/dap-link etc.

source [find interface/stlink.cfg]
# transport select swd not needed — hla driver uses SWD by default
#这里的stm32f1x.cfg对应的是你的板子的相应芯片型号
source [find target/stm32f4x.cfg]
# download speed = 2MHz
adapter speed 1800
